<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Films</title>
</head>
<body>
  <h1>Welcome to the Films page!</h1>
  <p> favourite actors and Films</p>
<a href="/films">Browse films</a>
</body>
</html>
