

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Films Index</title>
  </head>
  <body>
    <h1>Film and Actor Index</h1>
    

<h2>Films</h2>
    <ul>
        <% films.forEach(films => { %>
          <li><a href='/films/<%= films._id %>'><%= films.nameOfFilm %></a>
        </li>
        <% }); %>
      </ul>

      <h3>Leading Actor</h3>

      <ul>
        <% films.forEach(films => { %>
            <li><a href='/films/<%= films._id %>'><%= films.leadActor %></a>
        </li>
        <% }); %>
      </ul>
      <a href="/films/new">Add New Film and Actor</a>
  </body>
</html>
